$base-font-family-sans: sans-serif;
$base-font-family-serif: serif;
$base-font-family-code: monospace;
$base-font-size: 1rem;
$base-line-height: 1.5;
$base-font-family: $base-font-family-code;
$base-headings-font-family: $base-font-family-serif;
$base-headings: (
	(h1, $base-headings-font-family),
	(h2, $base-font-family),
	(h3, $base-headings-font-family),
	(h4, $base-font-family),
	(h5, $base-headings-font-family),
	(h6, $base-font-family)
);
@import "helpers/functions";
@import "helpers/mixins";
*, *::before, *::after{
	box-sizing: border-box;
}
html, body{
	padding: 0;
	margin: 0;
}
body > div{
	max-width: 38rem;
	margin: 0 auto;
}
p{
	font-family: $base-font-family-sans;
	font-size: $base-font-size;
	line-height: $base-line-height;
	margin-bottom: $base-line-height + rem;
	@include base-font-family-sizing();
}
h1, h2, h3, h4, h5, h6 {
	font-family: $base-headings-font-family;
}
@include base-headings();