@mixin base-font-family-sizing($current-font-family: $base-font-family)
{
	font-size: base-font-sizes-calc();
	font-family: $current-font-family;
	line-height: $base-line-height;
	margin-bottom: $base-font-size * $base-line-height;
}
@mixin base-headings {
	$i: 1;
	@each $heading, $family in $base-headings {
		#{$heading} {
			@include base-headings-font-family-sizing($i, $family);
		}
		$i: $i + 1;
	}
}
@mixin base-headings-font-family-sizing($heading: 2, $current-font-family:$base-headings-font-family) {
	font-family: $current-font-family;
	font-size: base-heading-sizes-calc($heading, $current-font-family);
	line-height: base-heading-line-height($heading, $current-font-family);
}